.loginwindow{
    height: 100vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login .heading{
    font-size: 30px;
}
.login{
    width: 25%;
    height: 70%;
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login h3{
    margin-top: 15px;
    cursor: pointer;
}
.login h3:hover{
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}